.card {
    border: 1px solid #cfcfcf;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    width: 80%;
    background-color: #eee;
    display: block;
    cursor: pointer;
    position: relative;
    word-wrap: break-word;
    white-space: normal;
}

.card-title {
    margin-right: 10px;
}

.card-duedate {
    position: relative;
    margin-top: 5px;
    font-size: .7rem;
    text-align: right;
    font-weight: bold;
}

.delete-button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    border: none;
    background-color: inherit;
    color: #cbcbcb;
}