.editCardModalContainer {
  position: fixed;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbix;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  white-space: normal;
}

.hide {
  display: none;
}

.modal-close-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: #bbbbbb;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.modal {
  width: 50%;
  display: block;
  padding: 10px;
  margin: 0 auto;
  background-color: #eeeeee;
  border-radius: 5px;
  position: relative;
}

.modal-item {
  margin: 10px auto;
  width: 97%;
  font-size: 1.2rem;
  display: block;
  position: relative;
  word-wrap: break-word;
}

.modal-item-title {
  font-weight: bold;
  position: relative;
  font-size: inherit;
  word-wrap: break-word;
  margin-bottom: 1.2rem;
}

textarea.modal-item-title {
  margin-bottom: .6rem;
  font-size: inherit;
  border-radius: 3px;
  height: 1.2rem;
  width: 97%;
  word-wrap: break-word;
  resize: none;
  overflow: hidden;
}

.modal-item-description-wrapper {
  padding: 0;
  position: relative;
}

.modal-item-description-wrapper:before {
  content: "";
  width: 99%;
  height: 2px;
  margin: auto;
  left: 0;
  top: -15px;
  background-color: #ccc;
  position: absolute;
}

 .modal-item-description-wrapper:after {
  content: "";
  width: 99%;
  height: 2px;
  margin: 1rem auto;
  left: 0;
  top: 100%;
  background-color: #ccc;
  position: absolute;
}

.modal-item-description {
  position: relative;
  width: 99%;
  font-size: inherit;
  position: relative;
  word-break: break-word;
  word-break: break-all;
  overflow-wrap: break-word;
}

input.modal-item-description {
  width: 99%;
  margin: .1rem auto;
  border-radius: 3px;
}

.modal-item-duedate {
  margin-top: .7rem;
  margin-bottom: .2rem;
  margin-right: .3rem;
  text-align: right;
  float: right;
  width: 30%;
  font-size: .9rem;
  position: relative;
}

.modal-item-comment-wrapper {
  margin-top: 3rem;
}

.modal-item-button {
  padding: .5rem 1rem;
  display: block;
  margin: 1rem 0 0 0;
  background-color: #4CAF50;
  color: #ffffff;
  font-size: 1.2rem;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.modal-item-checklist-wrapper {
  width: 90%;
  margin: 1rem auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: .5rem .3rem;
}

.modal-item-checklist-header {
  font-size: 1rem;
  margin-left: .4rem;
}

.modal-item-checklistitem {
  margin: .4em;
  position: relative;
  display:block;
  font-size: .9rem;
}

.modal-item-checklistitem .item-completed {
  text-decoration: line-through;
}

.modal-item-checklistitem-content-wrapper {
  display: inline-block;
  width: 95%;
  position: relative;
}

.modal-item-checklistitem-content {
  vertical-align: middle;
  display: inline-block;
  margin-left: .3rem;
  padding: 0 .2rem;
  width: 99%;
  height: 1.1rem;
  border-radius: .1rem;
}

input.modal-item-checklistitem-content {
  border-radius: 3px;
  font-size: .9rem;
  height: 1rem;
  width: 93%;
  padding: .2rem .1rem;
}

.modal-item-addchecklist {
  color: rgba(0,0,0,0.5);
  margin-left: 12px;
  padding: .2rem .3rem;
  border-radius: 5px;
  cursor: pointer;
}

.addchecklist-not-editable {
  margin: .3rem 1rem;
  padding: .2rem .4rem;
  cursor: pointer;
  width: 94%;
  font-style: italic;
}

.addchecklist-not-editable:hover {
  background-color: rgba(0,0,0,0.2);
}

input.addchecklist-editable {
  width: 96%;
  height: 1rem;
  margin: .3rem 1rem;
}

.checklistitem-delete-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: .2rem;
  font-size: .9rem;
  cursor: pointer;
  vertical-align: middle;
}