li.lane {
    list-style-type: none;
    width: 300px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    height: 100%;
    padding: 10px 0;
    background-color: #ccc;
}

li.lane:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 98%;
    vertical-align: middle;
    margin-top: 7px;
    background: #eee;
}

li.lane .title {
    padding: .5rem 2rem;
    font-weight: bold;
}